/*Element Selector*/
article {
    border: 2px solid white;
    background: hotpink;
    margin: 20px;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*Class Selector*/
.art2 {
    background: #535bf2;
}
/*ID Selector*/
#test {
    background: coral;
}

h2 {
    font-size: 80px;
}

h1 {
    font-size: 100px;
    color: #f9f9f9;
}

body {
    background: #242424;
}

p {
    color: aqua;
}

img {
    width: 20%;
    height: 20%;
}

header {
    display: flex;
    justify-content: center;
}